.text{
    color: var(--primary-text-color);
}
.tooltip_title{
    color: var(--tooltip-title-color);
}
.tooltip-text{
    color: var(--tooltip-text-color);
    font-size: 10px;
}
.small{
    color: var(--primary-text-color);
    font-size: 8px;
}
